* {
    margin: 0;
    padding: 0;
}
table {
width: 100%;
height: 100%;
background-color: rgb(27, 27, 75);
}
#fon {
    width: 100%;
    height: 1000px;
}
.block1 {
    width: 208px;
    height: 208px;
    border: 4px;
    border-color: red yellow yellow green;
    border-style: dashed dotted dashed dotted;
    border-radius: 25px 40% 25px 40%;
}
.block2 {
    width: 208px;
    height: 208px;
    border: 4px;
    border-color: green yellow yellow red;
    border-style: dashed dotted dashed dotted;
    border-radius: 40% 25px 40% 25px;
}
li {
    font-size: 1.5rem;
    line-height: 2rem;
}
ul {
    margin: 30px 70px;
    list-style-type:square;
    color: azure;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.yeloww {
    color: yellow;
}
.green {
    color: green;
}